/* Helper classes */

.centered{
	text-align: center;
	margin: auto;
}

.cast-text-shadow{
  text-shadow: 1px 1px 1px #555555;
}

.top {
	margin-top: 20px;
}

/* GLOBAL */

body {
  background-color: #e1f5fe;
  color: #666;
}

.mdl-button.mdl-button--colored {
  color: white;
}

/* HEADER */

.mdl-layout__header {
  margin-bottom: 20px;
}

h1, .mdl-layout-title {
  font-family: 'Lobster Two', cursive;
  font-size: 28px;
}

.mdl-layout__header-row .mdl-layout-title {
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.mdl-layout__header-row .mdl-navigation__link {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.mdl-layout__drawer-button i {
  color: white;
}

.mdl-layout__drawer i.material-icons {
  vertical-align: bottom;
}

.mdl-layout__header-row .mdl-navigation i.material-icons {
  vertical-align: middle;
}

/* INDEX */

#index .mdl-card {
  margin-top: 100px;
  padding: 40px;
}

#index img#logo {
  width: 100%;
  max-width: 763px;
}

#index .fb_bt img{
  width: 100%;
  max-width: 293px;
  margin: 20px 0 5px;
}

#index footer {
  margin-bottom: 10px;
  text-align: center;
}

#index footer p {
  font-size: .75em;
}

#index footer a {
  margin-left: 10px;
  margin-right: 10px;
}

#index footer a#logomaker {
  margin: 0;
}

/* Controlls*/
.moods {
	background-repeat: no-repeat;
	background-size: 5em 5em;
	width:6em; height:6em;
	display: float;
	padding: 0 0 0 2em;
	border-radius: 0;
	font-weight: bold;
	font-size: 1.2em;
}

.control_happy {
	background-image: url(../imgs/happy.png);
	margin-left: 1em;
}

/*
#control_angry {
   background-image: url("../imgs/angry.png");
}

#control_apathy {
   background-image: url("../imgs/apathy.png");
}

#control_bored {
   background-image: url("../imgs/bored.png");
}

#control_confident {
   background-image: url("../imgs/confident.png");
}

#control_confused {
   background-image: url("../imgs/confused.png");
}

#control_embarrassed {
   background-image: url("../imgs/embarrassed.png");
}

#control_entertained {
   background-image: url("../imgs/entertained.png");
}

#control_euphoria {
   background-image: url("../imgs/euphoria.png");
}

#control_excited {
   background-image: url("../imgs/excited.png");
}

#control_frustrated {
   background-image: url("../imgs/frustrated.png");
}

#control_hopefull {
   background-image: url("../imgs/hopefull.png");
}

#control_joyful {
   background-image: url("../imgs/joyful.png");
}

#control_lost {
   background-image: url("../imgs/lost.png");
}

#control_optimistic {
   background-image: url("../imgs/optimistic.png");
}

#control_peacefull {
   background-image: url("../imgs/peacefull.png");
}

#control_sad {
   background-image: url("../imgs/sad.png");
}

#control_shoked {
   background-image: url("../imgs/shoked.png");
}

#control_sleepy {
   background-image: url("../imgs/sleepy.png");
}

#control_tired {
   background-image: url("../imgs/tired.png");
}
*/

/* ENTRIES */

#entries .mdl-card {
  min-height: 0;
  padding-bottom: 10px;
}

#entries .mdl-card p {
  margin-bottom: 0;
}

#entries .mdl-card h2 {
  margin: 5px 0;
  font-size: 16px;
}

#entries .mdl-card .mdl-card__title,
#entries .mdl-card .mdl-card__supporting-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

#entries a.add-entry {
  max-width: 200px;
  margin: 0 auto 20px;
  will-change: inherit;
}


/* ERRORS */

h1.errors {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  color: #E91E63;
}

/* STATISTICS */

canvas {
  margin: 20px;
  width: 100%;
  min-height: 400px;
}

#graph-distribution-legend ul {
  list-style: none;
  text-align: center;
  -webkit-padding-start: 0;
}

#graph-distribution-legend ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}

#graph-distribution-legend span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#stats .mdl-card .mdl-card__supporting-text {
  padding: 0;
  overflow: initial;
}

/* FEELINGS */
.feeling-happy,
.feeling-neutral,
.feeling-sad {
  border-left: 10px solid #000;
}

.feeling-happy {
  border-color: #ffc107;
}

.feeling-neutral {
  border-color: #4db6ac;
}

.feeling-sad {
  border-color: #5c6bc0;
}
