<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
    <title>Attentif - About</title>
  </head>
  <body id="index">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-grid">
          <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp centered">
            <div class="mdl-card__supporting-text">
              <div>
                <h1 class="errors">Attentif</h1>
                <h4>About:</h4>
                <p>We are a Toronto-based team of developers passionate about making the difference.</p>
                <p>Our goal at DementiaHack is to provide individuals living with dementia a reliable product where they can record and remember their daily activities</p>
                <p>To develop this website we used technologies as go, Javascript, MaterialDesignLite, HTML5, CSS3 and MySql.</p>
                <p>Our project is open source on <a href="http:://github.com/dementiahackers/attentif">GitHub</a>.</p>
                <h4>Credits:</h4>
                <a href="http://www.emojione.com">Emoji Icons</a>
                <a href="http://www.logomakr.com">LogoMakr</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
    </div>
  </body>
</html>
