<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
    <script type="text/javascript" src="../assets/js/home.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{template "header" }}
      <main class="mdl-layout__content">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Date</th>
              <th>Rating</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{.Timestamp}}</td>
              <td>{{.Rate}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{.Description.Value}}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
      </main>
    </div>
  </body>
</html>
