<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
  </head>
  <body id="entries">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{template "header" }}
      <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-card mdl-shadow--8dp centered">
          {{ if . }}
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Date</th>
                <th>Rating</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{ range . }}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{.Timestamp}}</td>
                <td>{{.Rate}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{.Description.Value}}</td>
                <td></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          {{ else }}
            <h3>There is no entries yet!</h3>
            <a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent add-entry">
              <i class="material-icons" role="presentation">add</i>
              Add Entry
            </a>
          {{ end }}
        </div>
      </div>
      </main>
    </div>
  </body>
</html>
