<!DOCTYPE html>
<html>
	<head>
    {{template "head"}}
	<script type="text/javascript" src="../assets/js/home.js"></script>
	<link rel="stylesheet" href="../assets/css/main.css">
	</head>

  <body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {{template "header" }}
		<main class="mdl-layout__content">
			<div class="page-content"><!-- Your content goes here -->

	<div class="mdl-cell mdl-cell--8-col mdl-cell--7-col-tablet mdl-card mdl-shadow--8dp centered">
    <h4 class="title-text">Hi {{.FirstName}}, how are you feeling now?</h4>
				<div class="mdl-cell--8-col mdl-cell--7-col-tablet supporting-text centered">
					<!-- The slider that allows the user to select how happy he or she is-->
					<div id="output_happiness" class="centered cast-text-shadow"></div>
					<input id="control_happiness" class="mdl-slider mdl-js-slider centered" type="range" min="0" max="100" value="50" tabindex="0" oninput="update_happiness();"/>
				</div>
			</div>

	<div class="mdl-cell mdl-cell--8-col mdl-cell--7-col-tablet mdl-card mdl-shadow--8dp centered top">
		<h4 class="title-text">Would you like to share your thoughts?</h4>
			<!-- Floating Multiline Textfield -->
			<form action="#">
			  <div  id="output_text" class="mdl-cell--6-col mdl-cell--5-col-tablet mdl-textfield mdl-js-textfield">
			    <textarea class="mdl-textfield__input text-control" type="text" rows= "5" id="control_text" ></textarea>
			    <label class="mdl-textfield__label " for="control_text">Write something...</label>
			  </div>
			</form>
		</div>



			<h4 class="title-text">What are you feeling?</h4>
				<div id="output_moods" class="supporting-text">
					<label class="mdl-icon-toggle" for="control_happy">
			  		<input type="checkbox" name="control_happy" id="control_happy" class="mdl-icontoggle__input">
			  		<span class="mdl-icon-toggle__label moods control_happy">Happy</span>
					</label>
					<label class="mdl-icon-toggle" for="control_peacefull">
			  		<input type="checkbox" id="control_peacefull" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label peacefull moods">Peacefull</span>
					</label>
					<label class="mdl-icon-toggle" for="control_confident">
			  		<input type="checkbox" id="control_confident" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label confident moods">Confident</span>
					</label>
					<label class="mdl-icon-toggle" for="control_apathy">
			  		<input type="checkbox" id="control_apathy" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label apathy moods">Apathy</span>
					</label>
					<label class="mdl-icon-toggle" for="control_angry">
			  		<input type="checkbox" id="control_angry" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label angry moods">Angry</span>
					</label>
					<label class="mdl-icon-toggle" for="control_bored">
			  		<input type="checkbox" id="control_bored" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label bored moods">Bored</span>
					</label>
					<label class="mdl-icon-toggle" for="control_confused">
			  		<input type="checkbox" id="control_confused" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label confused moods">Confused</span>
					</label>
					<label class="mdl-icon-toggle" for="control_embarrassed">
			  		<input type="checkbox" id="control_embarrassed" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label embarrassed moods">Embarrassed</span>
					</label>
					<label class="mdl-icon-toggle" for="control_entertained">
			  		<input type="checkbox" id="control_entertained" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label entertained moods">Entertained</span>
					</label>
					<label class="mdl-icon-toggle" for="control_euphoria">
			  		<input type="checkbox" id="control_euphoria" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label euphoria moods">Euphoria</span>
					</label>
					<label class="mdl-icon-toggle" for="control_frustrated">
			  		<input type="checkbox" id="control_frustrated" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label frustrated moods">Frustrated</span>
					</label>
					<label class="mdl-icon-toggle" for="control_hopefull">
			  		<input type="checkbox" id="control_hopefull" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label hopefull moods">Hopefull</span>
					</label>
					<label class="mdl-icon-toggle" for="control_lost">
			  		<input type="checkbox" id="control_lost" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label lost moods">Lost</span>
					</label>
					<label class="mdl-icon-toggle" for="control_optimistic">
			  		<input type="checkbox" id="control_optimistic" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label optimistic moods">Optimistic</span>
					</label>
					<label class="mdl-icon-toggle" for="control_sad">
			  		<input type="checkbox" id="control_sad" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label sad moods">Sad</span>
					</label>
					<label class="mdl-icon-toggle" for="control_shoked">
			  		<input type="checkbox" id="control_shoked" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label shoked moods">Shoked</span>
					</label>
					<label class="mdl-icon-toggle" for="control_sleepy">
			  		<input type="checkbox" id="control_sleepy" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label sleepy moods">Sleepy</span>
					</label>
					<label class="mdl-icon-toggle" for="control_excited">
			  		<input type="checkbox" id="control_excited" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label excited moods">Excited</span>
					</label>
					<label class="mdl-icon-toggle" for="control_joyful">
			  		<input type="checkbox" id="control_joyful" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label joyful moods">Joyful</span>
					</label>
					<label class="mdl-icon-toggle" for="control_tired">
			  		<input type="checkbox" id="control_tired" class="mdl-icon-toggle__input"/>
			  		<span class="mdl-icon-toggle__label tired moods">Tired</span>
					</label>
				</div>
				<div class="mdl-cell mdl-cell--8-col mdl-cell--7-col-tablet centered">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect right_align" onclick="">I'm done</button>
				</div>
		</div>
 </div>

		</main>
		</div>
	</body>

</html>
