<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
    <title>Attentif - Helping individuals with Dementia record their days</title>
  </head>
  <body id="index">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-grid">
          <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp centered">
            <div class="mdl-card__supporting-text">
              <img src="/assets/imgs/logo.png" alt="logo" id="logo" />
              <div class="centered">
                <a class="fb_bt centered" href="{{.FacebookURL}}">
                  <img src="/assets/imgs/fblogin.png" alt="facebkk button" />
                </a>
              </div>
              <div class="centered">
                <a href="/demo">Try a demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
      <footer>
        <p>
          <a href="/about">About</a>
          <a href="mailto:hi@larissavoigt.com">Contact</a>
          <a href="https://github.com/dementiahackers">GitHub</a>
        </p>
        <p>
          Logo created with <a href="http://logomakr.com" id="logomaker" title="Logo Maker">Logo Maker</a>
        </p>
      </footer>
    </div>
  </body>
</html>
