<!DOCTYPE html>
<html>
  <head>
    {{template "head"}}
    <title>Attentif - Helping Individuals with dementia record their days</title>
  </head>
  <body id="index">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-grid">
          <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp centered">
            <div class="mdl-card__supporting-text">
              <img src="/assets/imgs/logo.png" alt="logo" />
              <div class="centered">
                <a class="fb_bt centered" href="{{.FacebookURL}}">
                  <img src="/assets/imgs/fblogin.png" alt="" />
                </a>
              </div>
              <div class="centered">
                <a href="/demo">Try a demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
    </div>
  </body>
</html>
